*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho-de-inicio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#logo {
    width: 15%;
}